
/* Flag */
.flag {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    vertical-align: middle;
}
.flag.ad {
    background-image: url(./img/ad.svg);
}
.flag.ae {
    background-image: url(./img/ae.svg);
}
.flag.af {
    background-image: url(./img/af.svg);
}
.flag.ag {
    background-image: url(./img/ag.svg);
}
.flag.ai {
    background-image: url(./img/ai.svg);
}
.flag.al {
    background-image: url(./img/al.svg);
}
.flag.am {
    background-image: url(./img/ai.svg);
}
.flag.ao {
    background-image: url(./img/ai.svg);
}
.flag.aq {
    background-image: url(./img/aq.svg);
}
.flag.ar {
    background-image: url(./img/ar.svg);
}
.flag.as {
    background-image: url(./img/as.svg);
}
.flag.at {
    background-image: url(./img/at.svg);
}
.flag.au {
    background-image: url(./img/au.svg);
}
.flag.aw {
    background-image: url(./img/aw.svg);
}
.flag.ax {
    background-image: url(./img/ax.svg);
}
.flag.az {
    background-image: url(./img/az.svg);
}
.flag.ba {
    background-image: url(./img/ba.svg);
}
.flag.bb {
    background-image: url(./img/bb.svg);
}
.flag.bd {
    background-image: url(./img/bd.svg);
}
.flag.be {
    background-image: url(./img/be.svg);
}
.flag.bf {
    background-image: url(./img/bf.svg);
}
.flag.bg {
    background-image: url(./img/bg.svg);
}
.flag.bh {
    background-image: url(./img/bh.svg);
}
.flag.bi {
    background-image: url(./img/bi.svg);
}
.flag.bj {
    background-image: url(./img/bj.svg);
}
.flag.bl {
    background-image: url(./img/bl.svg);
}
.flag.bm {
    background-image: url(./img/bm.svg);
}
.flag.bn {
    background-image: url(./img/bn.svg);
}
.flag.bo {
    background-image: url(./img/bo.svg);
}
.flag.bq {
    background-image: url(./img/bq.svg);
}
.flag.br {
    background-image: url(./img/br.svg);
}
.flag.bs {
    background-image: url(./img/bs.svg);
}
.flag.bt {
    background-image: url(./img/bt.svg);
}
.flag.bv {
    background-image: url(./img/bv.svg);
}
.flag.bw {
    background-image: url(./img/bw.svg);
}
.flag.by {
    background-image: url(./img/by.svg);
}
.flag.bz {
    background-image: url(./img/bz.svg);
}
.flag.ca {
    background-image: url(./img/ca.svg);
}
.flag.cc {
    background-image: url(./img/cc.svg);
}
.flag.cd {
    background-image: url(./img/cd.svg);
}
.flag.cf {
    background-image: url(./img/cf.svg);
}
.flag.cg {
    background-image: url(./img/cg.svg);
}
.flag.ch {
    background-image: url(./img/ch.svg);
}
.flag.ci {
    background-image: url(./img/ci.svg);
}
.flag.ck {
    background-image: url(./img/ck.svg);
}
.flag.cl {
    background-image: url(./img/cl.svg);
}
.flag.cm {
    background-image: url(./img/cm.svg);
}
.flag.cn {
    background-image: url(./img/cn.svg);
}
.flag.co {
    background-image: url(./img/co.svg);
}
.flag.cr {
    background-image: url(./img/cr.svg);
}
.flag.cu {
    background-image: url(./img/cu.svg);
}
.flag.cv {
    background-image: url(./img/cv.svg);
}
.flag.cw {
    background-image: url(./img/cw.svg);
}
.flag.cx {
    background-image: url(./img/cx.svg);
}
.flag.cy {
    background-image: url(./img/cy.svg);
}
.flag.cz {
    background-image: url(./img/cz.svg);
}
.flag.de {
    background-image: url(./img/de.svg);
}
.flag.dj {
    background-image: url(./img/dj.svg);
}
.flag.dk {
    background-image: url(./img/dk.svg);
}
.flag.dm {
    background-image: url(./img/dm.svg);
}
.flag.do {
    background-image: url(./img/do.svg);
}
.flag.dz {
    background-image: url(./img/dz.svg);
}
.flag.ec {
    background-image: url(./img/ec.svg);
}
.flag.ee {
    background-image: url(./img/ee.svg);
}
.flag.eg {
    background-image: url(./img/eg.svg);
}
.flag.eh {
    background-image: url(./img/eh.svg);
}
.flag.er {
    background-image: url(./img/er.svg);
}
.flag.es {
    background-image: url(./img/es.svg);
}
.flag.et {
    background-image: url(./img/et.svg);
}
.flag.eu {
    background-image: url(./img/eu.svg);
}
.flag.fi {
    background-image: url(./img/fi.svg);
}
.flag.fj {
    background-image: url(./img/fj.svg);
}
.flag.fk {
    background-image: url(./img/fk.svg);
}
.flag.fm {
    background-image: url(./img/fm.svg);
}
.flag.fo {
    background-image: url(./img/fo.svg);
}
.flag.fr {
    background-image: url(./img/fr.svg);
}
.flag.ga {
    background-image: url(./img/ga.svg);
}
.flag.gb {
    background-image: url(./img/gb.svg);
}
.flag.gb-eng {
    background-image: url(./img/gb-eng.svg);
}
.flag.gb-nir {
    background-image: url(./img/gb-nir.svg);
}
.flag.ga-sct {
    background-image: url(./img/gb-sct.svg);
}
.flag.gb-wls {
    background-image: url(./img/gb-wls.svg);
}
.flag.gd {
    background-image: url(./img/gd.svg);
}
.flag.ge {
    background-image: url(./img/ge.svg);
}
.flag.gf {
    background-image: url(./img/gf.svg);
}
.flag.gg {
    background-image: url(./img/gg.svg);
}
.flag.gh {
    background-image: url(./img/gh.svg);
}
.flag.gi {
    background-image: url(./img/gi.svg);
}
.flag.gl {
    background-image: url(./img/gl.svg);
}
.flag.gm {
    background-image: url(./img/gm.svg);
}
.flag.gn {
    background-image: url(./img/gn.svg);
}
.flag.gp {
    background-image: url(./img/gp.svg);
}
.flag.gq {
    background-image: url(./img/gq.svg);
}
.flag.gr {
    background-image: url(./img/gr.svg);
}
.flag.gs {
    background-image: url(./img/gs.svg);
}
.flag.gt {
    background-image: url(./img/gt.svg);
}
.flag.gu {
    background-image: url(./img/gu.svg);
}
.flag.gw {
    background-image: url(./img/gw.svg);
}
.flag.gy {
    background-image: url(./img/gy.svg);
}
.flag.hk {
    background-image: url(./img/hk.svg);
}
.flag.hm {
    background-image: url(./img/hm.svg);
}
.flag.hn {
    background-image: url(./img/hn.svg);
}
.flag.hr {
    background-image: url(./img/hr.svg);
}
.flag.ht {
    background-image: url(./img/ht.svg);
}
.flag.hu {
    background-image: url(./img/hu.svg);
}
.flag.id {
    background-image: url(./img/id.svg);
}
.flag.ie {
    background-image: url(./img/ie.svg);
}
.flag.il {
    background-image: url(./img/il.svg);
}
.flag.im {
    background-image: url(./img/im.svg);
}
.flag.in {
    background-image: url(./img/in.svg);
}
.flag.io {
    background-image: url(./img/io.svg);
}
.flag.il {
    background-image: url(./img/il.svg);
}
.flag.im {
    background-image: url(./img/im.svg);
}
.flag.in {
    background-image: url(./img/in.svg);
}
.flag.io {
    background-image: url(./img/io.svg);
}
.flag.iq {
    background-image: url(./img/iq.svg);
}
.flag.ir {
    background-image: url(./img/ir.svg);
}
.flag.is {
    background-image: url(./img/is.svg);
}
.flag.it {
    background-image: url(./img/it.svg);
}
.flag.je {
    background-image: url(./img/je.svg);
}
.flag.jm {
    background-image: url(./img/jm.svg);
}
.flag.jo {
    background-image: url(./img/jo.svg);
}
.flag.jp {
    background-image: url(./img/jp.svg);
}
.flag.ke {
    background-image: url(./img/ke.svg);
}
.flag.kg {
    background-image: url(./img/kg.svg);
}
.flag.kh {
    background-image: url(./img/kh.svg);
}
.flag.ki {
    background-image: url(./img/ki.svg);
}
.flag.km {
    background-image: url(./img/km.svg);
}
.flag.kn {
    background-image: url(./img/kn.svg);
}
.flag.kp {
    background-image: url(./img/kp.svg);
}
.flag.kr {
    background-image: url(./img/kr.svg);
}
.flag.kw {
    background-image: url(./img/kw.svg);
}
.flag.ky {
    background-image: url(./img/ky.svg);
}
.flag.kz {
    background-image: url(./img/kz.svg);
}
.flag.la {
    background-image: url(./img/la.svg);
}
.flag.lb {
    background-image: url(./img/la.svg);
}
.flag.lc {
    background-image: url(./img/lc.svg);
}
.flag.li {
    background-image: url(./img/li.svg);
}
.flag.lk {
    background-image: url(./img/lk.svg);
}
.flag.lr {
    background-image: url(./img/lr.svg);
}
.flag.ls {
    background-image: url(./img/ls.svg);
}
.flag.lt {
    background-image: url(./img/lt.svg);
}
.flag.lu {
    background-image: url(./img/lu.svg);
}
.flag.lv {
    background-image: url(./img/lv.svg);
}
.flag.ly {
    background-image: url(./img/ly.svg);
}
.flag.mo {
    background-image: url(./img/mo.svg);
}
.flag.ma {
    background-image: url(./img/ma.svg);
}
.flag.mc {
    background-image: url(./img/mc.svg);
}
.flag.md {
    background-image: url(./img/md.svg);
}
.flag.me {
    background-image: url(./img/me.svg);
}
.flag.mf {
    background-image: url(./img/mf.svg);
}
.flag.mg {
    background-image: url(./img/mg.svg);
}
.flag.mh {
    background-image: url(./img/mh.svg);
}
.flag.mk {
    background-image: url(./img/mk.svg);
}
.flag.ml {
    background-image: url(./img/ml.svg);
}
.flag.mm {
    background-image: url(./img/mm.svg);
}
.flag.mn {
    background-image: url(./img/mn.svg);
}
.flag.mo {
    background-image: url(./img/mo.svg);
}
.flag.mp {
    background-image: url(./img/mp.svg);
}
.flag.mq {
    background-image: url(./img/mq.svg);
}
.flag.mr {
    background-image: url(./img/mr.svg);
}
.flag.ms {
    background-image: url(./img/ms.svg);
}
.flag.mt {
    background-image: url(./img/mt.svg);
}
.flag.mu {
    background-image: url(./img/mu.svg);
}
.flag.mv {
    background-image: url(./img/mv.svg);
}
.flag.mw {
    background-image: url(./img/mw.svg);
}
.flag.mx {
    background-image: url(./img/mx.svg);
}
.flag.my {
    background-image: url(./img/my.svg);
}
.flag.mz {
    background-image: url(./img/mz.svg);
}
.flag.na {
    background-image: url(./img/na.svg);
}
.flag.nc {
    background-image: url(./img/nc.svg);
}
.flag.ne {
    background-image: url(./img/ne.svg);
}
.flag.nf {
    background-image: url(./img/nf.svg);
}
.flag.ng {
    background-image: url(./img/ng.svg);
}
.flag.ni {
    background-image: url(./img/ni.svg);
}
.flag.nl {
    background-image: url(./img/nl.svg);
}
.flag.no {
    background-image: url(./img/no.svg);
}
.flag.np {
    background-image: url(./img/np.svg);
}
.flag.nr {
    background-image: url(./img/nr.svg);
}
.flag.nu {
    background-image: url(./img/nu.svg);
}
.flag.nz {
    background-image: url(./img/nz.svg);
}
.flag.om {
    background-image: url(./img/om.svg);
}
.flag.pa {
    background-image: url(./img/pa.svg);
}
.flag.pe {
    background-image: url(./img/pe.svg);
}
.flag.pf {
    background-image: url(./img/pf.svg);
}
.flag.pg {
    background-image: url(./img/pg.svg);
}
.flag.ph {
    background-image: url(./img/ph.svg);
}
.flag.pk {
    background-image: url(./img/pk.svg);
}
.flag.pl {
    background-image: url(./img/pl.svg);
}
.flag.pm {
    background-image: url(./img/pm.svg);
}
.flag.pn {
    background-image: url(./img/pn.svg);
}
.flag.pr {
    background-image: url(./img/pr.svg);
}
.flag.ps {
    background-image: url(./img/ps.svg);
}
.flag.pt {
    background-image: url(./img/pt.svg);
}
.flag.pw {
    background-image: url(./img/pw.svg);
}
.flag.py {
    background-image: url(./img/py.svg);
}
.flag.qa {
    background-image: url(./img/qa.svg);
}
.flag.re {
    background-image: url(./img/re.svg);
}
.flag.ro {
    background-image: url(./img/ro.svg);
}
.flag.rs {
    background-image: url(./img/rs.svg);
}
.flag.ru {
    background-image: url(./img/ru.svg);
}
.flag.rw {
    background-image: url(./img/rw.svg);
}
.flag.sa {
    background-image: url(./img/sa.svg);
}
.flag.sb {
    background-image: url(./img/sb.svg);
}
.flag.sc {
    background-image: url(./img/sc.svg);
}
.flag.sd {
    background-image: url(./img/sd.svg);
}
.flag.se {
    background-image: url(./img/se.svg);
}
.flag.sg {
    background-image: url(./img/sg.svg);
}
.flag.sh {
    background-image: url(./img/sh.svg);
}
.flag.si {
    background-image: url(./img/si.svg);
}
.flag.sj {
    background-image: url(./img/sj.svg);
}
.flag.sk {
    background-image: url(./img/sk.svg);
}
.flag.sl {
    background-image: url(./img/sl.svg);
}
.flag.sm {
    background-image: url(./img/sm.svg);
}
.flag.sn {
    background-image: url(./img/sn.svg);
}
.flag.so {
    background-image: url(./img/so.svg);
}
.flag.sr {
    background-image: url(./img/sr.svg);
}
.flag.ss {
    background-image: url(./img/ss.svg);
}
.flag.st {
    background-image: url(./img/st.svg);
}
.flag.sv {
    background-image: url(./img/sv.svg);
}
.flag.sx {
    background-image: url(./img/sx.svg);
}
.flag.sy {
    background-image: url(./img/sy.svg);
}
.flag.sz {
    background-image: url(./img/sz.svg);
}
.flag.tc {
    background-image: url(./img/tc.svg);
}
.flag.td {
    background-image: url(./img/td.svg);
}
.flag.tf {
    background-image: url(./img/tf.svg);
}
.flag.tg {
    background-image: url(./img/tg.svg);
}
.flag.th {
    background-image: url(./img/th.svg);
}
.flag.tj {
    background-image: url(./img/tj.svg);
}
.flag.tk {
    background-image: url(./img/tk.svg);
}
.flag.tl {
    background-image: url(./img/tl.svg);
}
.flag.tm {
    background-image: url(./img/tm.svg);
}
.flag.tn {
    background-image: url(./img/tn.svg);
}
.flag.to {
    background-image: url(./img/to.svg);
}
.flag.tr {
    background-image: url(./img/tr.svg);
}
.flag.tt {
    background-image: url(./img/tt.svg);
}
.flag.tv {
    background-image: url(./img/tv.svg);
}
.flag.tw {
    background-image: url(./img/tw.svg);
}
.flag.tz {
    background-image: url(./img/tz.svg);
}
.flag.ua {
    background-image: url(./img/ua.svg);
}
.flag.ug {
    background-image: url(./img/ug.svg);
}
.flag.um {
    background-image: url(./img/um.svg);
}
.flag.un {
    background-image: url(./img/un.svg);
}
.flag.us {
    background-image: url(./img/us.svg);
}
.flag.uy {
    background-image: url(./img/uy.svg);
}
.flag.uz {
    background-image: url(./img/uz.svg);
}
.flag.va {
    background-image: url(./img/va.svg);
}
.flag.vc {
    background-image: url(./img/vc.svg);
}
.flag.ve {
    background-image: url(./img/ve.svg);
}
.flag.vg {
    background-image: url(./img/vg.svg);
}
.flag.vi {
    background-image: url(./img/vi.svg);
}
.flag.vn {
    background-image: url(./img/vn.svg);
}
.flag.vu {
    background-image: url(./img/vu.svg);
}
.flag.wf {
    background-image: url(./img/wf.svg);
}
.flag.ws {
    background-image: url(./img/ws.svg);
}
.flag.ye {
    background-image: url(./img/ye.svg);
}
.flag.yt {
    background-image: url(./img/yt.svg);
}
.flag.za {
    background-image: url(./img/za.svg);
}
.flag.zm {
    background-image: url(./img/zm.svg);
}
.flag.zw {
    background-image: url(./img/zw.svg);
}
